body {
            background-color: #FFF8E1;
            font-family: sans-serif;
            padding: 20px;
        }

        h1,
        h2,
        p {
            text-align: center;
            color: #6D4C41;
        }

        p {
            font-style: italic;
        }

        .menu {
            margin-left: auto;
            margin-right: auto;
            margin-top:100px;
            padding: 20px;
            max-width: 800px;
            background-color: #FFF8E1;
            border-radius: 10px;
        }

        h1 {
            font-size: 40px;
            margin-top: 0;
            margin-bottom: 15px;
        }

        h2 {
            font-size: 30px;
        }

        hr {
            height: 2px;
            background-color: brown;
            border: none;
        }

        .columns {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap:wrap;
        }

        .column {
            flex: 1;
        }

        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            margin: 5px 0;
        }

        .item p {
            margin: 0;
        }

        .section-box {
            border: 2px solid #b2dfdb;
            /*Soft sage green border */
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            background-color: rgb(159 234 79 / 26%);
            /* Slightly transparent yellowish background */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin-top: 50px;
            /* Shadow */
        }

        .section-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
